/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.May.2016, 15:14:37
    Author     : must
*/
#formTable{
    width: 50%;
    margin-left: 25%;
}

#footer{
    position: absolute;
    bottom: 0;
    
    
}
